services:
  postgres :
    container_name: postgres-db
    image: postgres:17-alpine
    env_file:
      - ./.env
    environment:
      - POSTGRES_DB=${DB_DATABASE}
      - POSTGRES_USER=${DB_USER}
      - POSTGRES_PASSWORD=${DB_PASSWORD}
    volumes:
      - pg-data:/var/lib/postgresql/data
    ports:
      - "5432:5432"
    networks:
      - private
    restart: unless-stopped
    # set shared memory limit when using docker compose
    shm_size: 128mb

networks:
  private:
    driver: bridge

volumes:
  pg-data: