services:
  db:
    container_name: postgres-contact-api
    image: postgres:latest
    env_file:
      - ./.env
    environment:
      - POSTGRES_DB=${DB_NAME}
      - POSTGRES_USER=${DB_USER}
      - POSTGRES_PASSWORD=${DB_PASSWORD}
    volumes:
      - postgres:/var/lib/postgressql/data
    ports:
      - "5332:5432"
    networks:
      - postgres
    restart: unless-stopped
    # set shared memory limit when using docker compose
    shm_size: 128mb

networks:
  postgres:
    driver: bridge

volumes:
  postgres: