spring:
  application:
    name: ${APP_NAME}
  datasource:
    url: ${PG_URL}
    username: ${DB_USER}
    password: ${DB_PASSWORD}
    name: ${DB_DATABASE}
    driver-class-name: org.postgresql.Driver
  jpa:
    hibernate:
      ddl-auto: update
  sql:
    init:
      mode: never

logging:
  level:
    org:
      hibernate:
        SQL: DEBUG
        orm:
          jdbc:
            bind: TRACE
        type:
          descriptor:
            sql:
              BasicBinder: TRACE

server:
  servlet:
    context-path: /api/v1
  port: 8080

sonar:
  login: ${SONAR_LOGIN}