spring:
  application:
    name: ${APP_NAME}
  datasource:
    url: ${H2_URL}
    generate-unique-name: false
    username: ${DB_USER}
    password: ${DB_PASSWORD}
    name: ${DB_DATABASE}
    driver-class-name: org.h2.Driver
  h2:
    console:
      enabled: true
      path: /public/h2-console
  sql:
    init:
      mode: never
  jpa:
    hibernate:
      ddl-auto: create-drop

logging:
  level:
    org:
      hibernate:
        SQL: DEBUG
        orm:
          jdbc:
            bind: TRACE
        type:
          descriptor:
            sql:
              BasicBinder: TRACE

server:
  servlet:
    context-path: /api/v1
  port: 8080