spring:
  application:
    name: ${APP_NAME}
  datasource:
    url: jdbc:h2:mem:${DB_DATABASE};MODE=PostgreSQL
    generate-unique-name: false
    name: ${DB_DATABASE}
    driver-class-name: org.h2.Driver
  h2:
    console:
      enabled: true
      path: /h2-console


logging:
  level:
    org:
      springframework:
        jdbc: DEBUG