spring:
  application:
    name: ${APP_NAME}
  datasource:
    url: jdbc:h2:mem:contacts;MODE=PostgreSQL
    generate-unique-name: false
    name: ${DB_DATABASE}
    driver-class-name: org.h2.Driver

logging:
  level:
    org:
      springframework:
        jdbc: DEBUG