spring:
  application:
    name: ${APP_NAME}
  datasource:
    url: ${H2_URL}
    generate-unique-name: false
    username: ${DB_USER}
    password: ${DB_PASSWORD}
    name: ${DB_DATABASE}
    driver-class-name: org.h2.Driver
  h2:
    console:
      enabled: true
      path: /h2-console
  sql:
    init:
      mode: always
  jpa:
    hibernate:
      ddl-auto: update



logging:
  level:
    org:
      springframework:
        jdbc: DEBUG