@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    @apply antialiased;
  }
  body {
    @apply bg-slate-50 text-slate-800 dark:bg-slate-900 dark:text-slate-100 font-sans;
  }
}